*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topbar{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px;
}

.topbar p{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.topbar header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 999;
}

.navbar{
    background-color: white;
    position: fixed;
    top: 0;
	height: 6rem;
    width: 100%;
}

.navbar a{
    float: left;
    display: block;
    padding: 20px 100px;
}

.navbar a img{
    width: 65px;
}

.title{
    color: rgb(255, 255, 255);
    font-family: optima;
    position: relative;
    z-index: -1;
}

.title h1{
    font-size: 7vw;
    line-height: 1em;
}

.title h2{
    font-size: xx-large;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-family: optima;
}
.summary{
    font-size: xx-large;
    margin-top: 15px;
}
.title h3{
    font-size: x-large;
    letter-spacing: 0.1vw;
    margin-top: 100px;
}

.intro{
    display: inline-flex;
}

.overview{
    min-height: 90vh;
}
.overview h4{
    margin-bottom: 44px;
    padding-top: 100px;
    padding-bottom: 15px;
    font-size: 3vw;
    font-family: optima;
    text-align: center;
}

.float{
    height: 45%;
    padding-left: 100px;
    display: flex;
    position: relative;
    margin-right: 14px;
  }

.float img{
    border-radius: 35px;
}
  .float p{
    margin-left: 10px;
  }

  .slideshow-container {
    max-width: 100%;
    position: relative;
    
  }

  .mySlides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgb(196, 246, 181);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .active, .dot:hover {
    background-color: #bce4a5;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

.routine{
    margin-bottom: 14px;
    height: max-content;
    padding-left: 35px;
    padding-right: 25px;
    padding-top: 10px;
    margin-right: 100px;
    margin-left: 14px;
    background-color: rgb(221, 247, 213);
    border-radius: 35px;
    font-family: optima;
    color: #444;
}
.routine h5{
    font-size: x-large;
    margin-bottom: 24px;
    margin-top: 17px;
}
.routine p{
    font-size: medium;
    margin-bottom: 17px;
}

.journal{
    color: #444;
    background-color: blanchedalmond;
    border-radius: 35px;
    height: max-content;
    padding-left: 35px;
    padding-right: 25px;
    padding-top: 10px;
    margin-right: 100px;
    margin-left: 14px;
    font-family: optima;
}
.journal h5{
    font-size: x-large;
    margin-bottom: 24px;
    margin-top: 17px;
}
.journal p{
    font-size: medium;
    padding-bottom: 12px;
    line-height: 25px;
}

.destination{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.destination h4{
    padding-top: 60px;
    padding-bottom: 17px;
    font-size: 3vw;
    font-family: optima;
    text-align: center;
    margin-bottom: 24px;
}

.destination h5{
    margin-left: 35px;
    margin-top: 70px;
    z-index: 100;
    font-family: optima;
    font-size: xxx-large;
    font-weight: 300;
}
.destination h6{
    margin-left: 35px;
    margin-top: 130px;
    z-index: 100;
    font-family: optima;
    font-size: x-large;
    margin-bottom: 15px;
    font-weight: 300;
}
.destination p{
    margin-left: 35px;
    margin-top: 240px;
    z-index: 100;
    font-family: optima;
    font-size: x-large;
}
/* .blue, .Lugu, .Mushroom, .Shuhe, .Tiger{
    height: 170px;
    border-radius: 35px;
    margin-bottom: 13px;
}

Style the buttons that are used to open and close the accordion panel */
.accordion {
    position: relative;
    border-radius: 35px;
    background-color: #eee;
    color: whitesmoke;
    cursor: pointer;
    margin-bottom: 14px;
    width: auto;
    height: 350px;
    text-align: right;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .accordion img{
    position: relative;
    border-radius: 35px;
    width: 100%;
    height: 348px;
    object-fit: cover;
    opacity: 0.9;
  }
.bluedetail{
    display: flex;
    flex: 16.6%;
}

  .bluedetail img{
    display: flex;
    width: 16.6%;
    height: auto;
    position: relative;
    padding-left: 10px;
    padding-bottom: 24px;
  }

.luguview{
    display: flex;
    flex: 16.6%;
}
.luguview img{
    display: flex;
    width: 16.6%;
    height: auto;
    position: relative;
    padding-left: 10px;
    padding-bottom: 24px;
}

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }


  .ending{
    text-align: center;
      height: 30vh;
      background-color:   #bce4a5;
      font-family: optima;
      padding-top: 50px;
    margin-top: 30px;
  }
  
  .ending h5{
      font-size: xx-large;
      color: #fff;
      padding-bottom: 10px;
  }
  
  .ending a{
      text-decoration: none;
      color: #fff;
      padding-bottom: 15px;
      font-size: larger;
  }
  
  .ending p{
      padding-top: 30px;
      color: #fff;
  
  }
  
  .ending p1{
      color: #fff;
  }

@media (max-width:991px) {
    .guide p,.topbar,.verticalmenu ul{
        padding: 40px;
    }
}