*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.topbar{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px;
}

.topbar p{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.topbar header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 999;
}

.navbar{
    background-color: white;
    position: fixed;
    top: 0;
	height: 6rem;
    width: 100%;
}

.navbar a{
    float: left;
    display: block;
    padding: 20px 100px;
}

.navbar a img{
    width: 65px;
}

.title{
    color: rgb(255, 255, 255);
    font-family: optima;
    position: relative;
    z-index: -1;
}

.title h1{
    font-size: 7vw;
    line-height: 1em;
}

.title h2{
    font-size: xx-large;
    margin-top: 15px;
}

.title h3{
    font-size: x-large;
    letter-spacing: 0.1vw;
    margin-top: 100px;
}

.guide p{
    padding: 40px 100px;
    font-family: Arial, Helvetica, sans-serifs;
    color: darkgrey;
}

.guide p a{
    text-decoration: none;
    color: darkgrey;
}

.guide p a:hover{
    color: #edbee4;
}


.verticalmenu{
	width: 25%;
	position: sticky;
	top: 150px;
}
.verticalmenu ul{
    list-style: none;
    margin: 0;
    padding-left: 100px;
    background-color: white;
    height: 100%;
	position: sticky;
	top: 9.375rem;
}

.verticalmenu ul li a{
    display: block;
    text-decoration: none;
    color: darkgrey;
}

.verticalmenu ul li a:hover{
    color: #edbee4;
}

.verticalmenu ul li{
    font-family: 'Syncopate', sans-serif;
    font-size: large;
    line-height: 2.5em;
}

.context{
	margin-left: 25%;
	width: 75%;
    padding-top: 10px;
    padding-right: 100px;
	margin-top: -150px;
}

.text{
    font-family: 'Syncopate', sans-serif;
    color: rgb(84, 84, 84);
}

.text p{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.tab {
    position: sticky;
    float: left;
    background-color: white;
    width: 24%;
  }
  
  .tab button {
    position: sticky;
    height: 100%;
    font-size: larger;
    font-family: optima;
    display: block;
    background-color: inherit;
    color: darkgray;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 100px;
  }
  
  .tab button:hover {
   color: #edbee4;
  }

  .tab button.active {
    color: #edbee4;
  }

  .tabcontent {
    margin-top: 10px;
    float: left;
    padding: 5px 20px;
    width: 70%;
    height: 300px;
  }

  .tabcontent p{
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(84, 84, 84);
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: medium;
  }

  .progress-container {
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 7px;
  }
  
  .progress {
    height: 20px;
    border-radius: 10px;
    width: 50%;
    background-color: #edbee4;
  }

  .h3{
    font-family: optima;
    padding-bottom: 10px;
    font-size: x-large;
  }

  .introtext{
    font-family: optima;
    font-size: larger;
    font-weight: lighter;
    margin-bottom: 10px;
    line-height: 150%;
  }

  
  .row1, .row2, .row3 {
    display: flex;
    flex: 20%;
    padding: 5px;
  }

  .row1 img, .row2 img, .row3 img{
    width: 26%;
    height: auto;
    margin-right: 10px;
  }

  .float{
    display: flex;
    position: relative;
  }

  .float p{
    margin-left: 10px;
  }


  .slideshow-container {
    max-width: 100%;
    position: relative;
    
  }

  .mySlides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: #edbee4;
  }
  
  .text {
    color: #f2f2f2;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .active, .dot:hover {
    background-color: #edbee4;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .infoSH{
    display: flex;
    position: relative;
  }

  .infoSH p{
    margin-left: 10px;
  }

  @media (max-width:991px) {
    .guide p,.topbar,.verticalmenu ul{
        padding: 40px;
    }
}
.f_r{
	display: flex;
	flex-direction: row;
}
