*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topbar{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px;
}

.topbar p{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.topbar header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 999;
}

.navbar{
    background-color: white;
    position: fixed;
    top: 0;
	height: 6rem;
    width: 100%;
}

.navbar a{
    float: left;
    display: block;
    padding: 20px 100px;
}

.navbar a img{
    width: 65px;
}

.title{
    color: rgb(255, 255, 255);
    font-family: optima;
    position: relative;
    z-index: -1;
}

.title h1{
    font-size: 7vw;
    line-height: 1em;
}

.title h2{
    font-size: xx-large;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-family: optima;
}
.summary{
    font-size: xx-large;
    margin-top: 15px;
}
.title h3{
    font-size: x-large;
    letter-spacing: 0.1vw;
    margin-top: 100px;
}

.start{
    min-height: 90vh;
    padding-left: 100px;
    padding-right: 100px;
}
.start h4{
    margin-top: 150px;
    margin-left: 30px;
    font-size: 3vw;
    font-family: optima;
    position: absolute;
}
.start h5{
    position: absolute;
    font-family: optima;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 24px;
    margin-top: 230px;
    margin-left: 30px;
    width: 40%;
}
.start p{
    font-family: optima;
    font-size: medium;
    line-height: 30px;
    font-weight: 50;
    position: absolute;
    width: 36%;
    margin-left: 30px;
    margin-top: 404px;
}
.start h6{
    font-family: optima;
    font-size: medium;
    line-height: 30px;
    font-weight: 50;
    position: absolute;
    margin-left: 30px;
    margin-top: 534px;
}
.tracks img{
    position: absolute;
    width:50px;
    margin-top: 574px;
    margin-left: 30px;
}
.tracks img:hover{
    width: 60px;
    transform: 0.4s;
}

.camera{
    min-height: 90vh;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #bce3ff;
    border-radius: 35px;
}
.camera h4{
    font-size: 3vw;
    font-family: optima;
    position: absolute;
    margin-top: 344px;
    margin-left: 24px;
}
.camera a{
    text-decoration: none;
    color: black;
    position: absolute;
    font-family: optima;
    font-size: 40px;
    font-weight: 300;
    margin-top: 434px;
    margin-left: 24px;
}
.camera a:hover{
    font-size: 50px;
    transition: 0.4s;
}
.camera p{
    font-family: optima;
    font-size: medium;
    line-height: 30px;
    font-weight: 50;
    position: absolute;
    width: 40%;
    margin-left: 45%;
    margin-top: 22%;
}
.me{
    display: flex;
}
.me img{
    width: 23%;
    margin-right: 12px;
    margin-left: 14px;
    margin-top: 24px;
}
.place{
    margin-top: 300px;
    display: flex;
}
.place img{
    width: 23%;
    margin-right: 12px;
    margin-left: 14px;
    margin-top: 24px;
}

.firstrow{
    margin-left: 730px;
    margin-top: 100px;
    display: flex;
}
.firstrow img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-right: 24px;
    margin-bottom: 24px;
}
.secondrow{
    margin-left: 730px;
    display: flex;
}
.secondrow img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-right: 24px;
    margin-bottom: 24px;
}


.more{
    padding-left: 100px;
    padding-right: 100px;
}
.more h4{
    margin-bottom: 34px;
    padding-top: 100px;
    padding-bottom: 15px;
    font-size: 3vw;
    font-family: optima;
    text-align: center;
}
.twoimage{
    display: flex;
    align-items: center;
    margin-right: 280px;
    margin-left: 280px;
}

.twoimage img{
    width: 400px;
    margin-right: 44px;
    opacity: 0.6;
    z-index: 2;
}
.explorefood{
    position: relative;
}
.explorefood a{
    text-decoration: none;
    color: black;
    font-family: optima;
    font-size: xx-large;
    font-weight: 500;
}
.explorefood a:hover{
    font-size: 44px;
    transition: 0.4s;
}
.explorescenery{
    position: relative;
}
.explorescenery a{
    text-decoration: none;
    color: black;
    font-family: optima;
    font-size: xx-large;
    font-weight: 500;
}
.explorescenery a:hover{
    font-size: 44px;
    transition: 0.4s;
}
.center {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    z-index: 1;
  }




.ending{
    text-align: center;
      height: 30vh;
      background-color:  #bce3ff;
      font-family: optima;
      padding-top: 50px;
    margin-top: 100px;
  }
  
  .ending h5{
      font-size: xx-large;
      color: #fff;
      padding-bottom: 10px;
  }
  
  .ending a{
      text-decoration: none;
      color: #fff;
      padding-bottom: 15px;
      font-size: larger;
  }
  
  .ending p{
      padding-top: 30px;
      color: #fff;
  
  }
  
  .ending p1{
      color: #fff;
  }

@media (max-width:991px) {
    .guide p,.topbar,.verticalmenu ul{
        padding: 40px;
    }
}